:root {
	--clr-primary-50: #efe5fd;
	--clr-primary-100: #d4bff9;
	--clr-primary-200: #b794f6;
	--clr-primary-300: #9965f4;
	--clr-primary-400: #7e3ff2;
	--clr-primary-500: #6002ee;
	--clr-primary: var(--clr-primary-500);
	--clr-primary-600: #5300e8;
	--clr-primary-700: #3d00e0;
	--clr-primary-800: #1d00db;
	--clr-primary-900: #0000d6;
	--clr-complementary-50: #f2fde4;
	--clr-complementary-100: #defabb;
	--clr-complementary-200: #c6f68d;
	--clr-complementary-300: #aaf255;
	--clr-complementary-400: #90ee02;
	--clr-complementary: var(--clr-complementary-400);
	--clr-complementary-500: #75e900;
	--clr-complementary-600: #61d800;
	--clr-complementary-700: #41c300;
	--clr-complementary-800: #0aaf00;
	--clr-complementary-900: #008b00;
	--clr-analogous-1-50: #eee6ff;
	--clr-analogous-1-100: #d2c2fd;
	--clr-analogous-1-200: #b39afd;
	--clr-analogous-1-300: #906efe;
	--clr-analogous-1-400: #714cfe;
	--clr-analogous-1-500: #4a26fc;
	--clr-analogous-1-600: #3722f6;
	--clr-analogous-1-700: #021aee;
	--clr-analogous-1: var(--clr-analogous-1-700);
	--clr-analogous-1-800: #0013e9;
	--clr-analogous-1-900: #0000e4;
	--clr-analogous-2-50: #fae4fc;
	--clr-analogous-2-100: #f2bcf8;
	--clr-analogous-2-200: #e98df5;
	--clr-analogous-2-300: #df55f1;
	--clr-analogous-2-400: #d602ee;
	--clr-analogous-2: var(--clr-analogous-2-400);
	--clr-analogous-2-500: #cc00e9;
	--clr-analogous-2-600: #ba00e5;
	--clr-analogous-2-700: #a100e0;
	--clr-analogous-2-800: #8b00dc;
	--clr-analogous-2-900: #5c00d2;
	--clr-triadic-1-50: #fbe2f0;
	--clr-triadic-1-100: #f5b6da;
	--clr-triadic-1-200: #f186c0;
	--clr-triadic-1-300: #ee4fa6;
	--clr-triadic-1-400: #ee0290;
	--clr-triadic-1: var(--clr-triadic-1-400);
	--clr-triadic-1-500: #ef0078;
	--clr-triadic-1-600: #dd0074;
	--clr-triadic-1-700: #c6006e;
	--clr-triadic-1-800: #b0006a;
	--clr-triadic-1-900: #880061;
	--clr-triadic-2-50: #fff2df;
	--clr-triadic-2-100: #ffddb0;
	--clr-triadic-2-200: #ffc77d;
	--clr-triadic-2-300: #ffaf49;
	--clr-triadic-2-400: #ff9e22;
	--clr-triadic-2-500: #fe8d00;
	--clr-triadic-2-600: #fa8100;
	--clr-triadic-2-700: #f47101;
	--clr-triadic-2-800: #ee6002;
	--clr-triadic-2: var(--clr-triadic-2-800);
	--clr-triadic-2-900: #e44304;

}