<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My Sidenav App</span>
</mat-toolbar>

<mat-sidenav-container class="example-sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="example-sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/home" (click)="sidenav.close()">
        <mat-icon matListItemIcon>home</mat-icon>
        <span matListItemTitle>Home</span>
      </a>
      <a mat-list-item routerLink="/application" (click)="sidenav.close()">
        <mat-icon matListItemIcon>timeline</mat-icon>
        <span matListItemTitle>Application</span>
      </a>
      <a mat-list-item routerLink="/about" (click)="sidenav.close()">
        <mat-icon matListItemIcon>info</mat-icon>
        <span matListItemTitle>About</span>
      </a>
      <a mat-list-item routerLink="/option" (click)="sidenav.close()">
        <mat-icon matListItemIcon>settings</mat-icon>
        <span matListItemTitle>Option</span>
      </a>
      <button mat-list-item (click)="navigateTo('/home'); sidenav.close()">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <span matListItemTitle>Dashboard (Button)</span>
      </button>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="example-sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>